/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazioni base */

.box {
    background-color: white;
    padding: 1rem 3rem 0.5rem;
    max-width: 1200px;
}

.list {
    /* background-color: yellow; */
    padding: 0rem 0 0 1rem;
    margin: 1rem 0 0 1rem;
}

.style-type-none {
    list-style-type: none;
}

/* altre */

.border-radius-top {
    border-radius: 7px 7px 0 0;
}

/* impostazioni pagina */

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.7rem;
}

img {
    width: 60px;
    height: 60px;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    margin-left: 0.5rem;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    padding: 3rem 10rem 1rem;
    background-color: #f6f8f9;
}

hr {
    padding: .1rem;
    border: none;
}

/* impostazione button */

button {
    font-size: .75rem;
    font-weight: 700;
    padding: .4rem .7rem;
    border-radius: 5px;
}

.b-white {
    background-color: white;
    color: #c7ccd1;
    border: .1rem solid #c7ccd1;
    padding: 0.33rem .7rem;
}

.b-47adf1 {
    background-color: #47adf1;
    color: white;
    border: 0;
}

/* impostazioni lista */

ul li {
    font-weight: 700;
}

i {
    padding: .1rem .1rem;
}

ol li {
    margin: 1rem 0rem;
    font-weight: 500;
}

ol {
    padding-left: 0.5rem;
}

/* .botton negli span */

.button {
    font-size: .6rem;
    padding: .4rem .7rem;
    border-radius: 10px;
    color: white
}

.b-cyan {
    background-color: #45abea;
}

.b-violet {
    background-color: #9c72e4;
}

.b-green {
    background-color: #64c0a9;
}

.b-orange {
    background-color: #f29e33;
}

.b-pink {
    background-color: #d863a1;
}

.b-gold {
    background-color: #b0c926;
}

/* icone X e V */

.circle {
    margin: 0rem 0.2rem 0rem 0rem;
    font-weight: 700;
    font-size: .7rem;
    border: 1px solid;
    border-radius: 50%;
}

.circle-red {
    color: red;
    border-color: red;
}

.circle-green {
    color: green;
    border-color: green;
}

.flex {
    display: flex;
    align-items: center;
}
