/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* impostazioni base */

.box {
    background-color: white;
    padding: 1rem 3rem 0.5rem;
    max-width: 1200px;
}

.list {
    /* background-color: yellow; */
    padding: 0rem 0 0 1rem;
    margin: 1rem 0 0 1rem;
}

/* altre */

.border-radius-top {
    border-radius: 7px 7px 0 0;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.7rem;
}

img {
    width: 60px;
    height: 60px;
}

h1 {
    display: inline-block;
    font-size: 3rem;
    margin-left: 0.5rem;
}

body {
    font-family: "Roboto", sans-serif;
}

main {
    padding: 3rem 10rem 1rem;
    height: 53.5rem;
    background-color: #f6f8f9;
}

hr {
    padding: .1rem;
    border: none;
}

button {
    font-size: .75rem;
    font-weight: 700;
    padding: 0.7rem;
    border-radius: 5px;
}

.b-white {
    background-color: white;
    color: #c7ccd1;
    border: .1rem solid #c7ccd1;
    padding: .6rem;
}

.b-47adf1 {
    background-color: #47adf1;
    color: white;
    border: 0;
}

ul li {
    font-weight: 700;
}

ol li {
    font-weight: 500;
}

ol {
    padding-left: 0.5rem;
}

.flex {
    display: flex;
    align-items: center;
}
